.AboutTitle {
    font-size: 100px;
}

.teamTitle {
    background-color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.person img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.person {
    font-size: 14px;
}

.teamBox {
    background-color: #f1f1f1;
    margin: 30px;
}

.teamBox>div {
    padding: 20px;
    margin: 10px;
    height: 85vh;
}


/* 후원기업 */

.SponsoringCompany>div>div {
    height: 150px;
    display: flex;
    align-items: center;
}

.SponsoringCompany>div>div>div>div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.SponsoringCompany>div>div>div>div>div {
    text-align: center;
}

.SponsoringCompany>div>div>div>div>div>img {
    height: 60px;
    text-align: center;
}


/*모바일 */

.personMobile img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.teamBoxMobile>div>div {
    padding: 10px;
    border-radius: 20px;
}

.slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.fp-watermark {
    display: none;
}