.AboutTitle {
    font-size: 100px;
}

.About {
    background-color: #f3f7f8;
}

.person img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
}

@media screen and (max-width: 50rem) {}

.fp-watermark {
    display: none;
}