/* 아코디언 메뉴 */

.slideItem {
    overflow: hidden;
    height: 85vh;
    border-radius: 20px;
    margin: 12px;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
    filter: blur(3px);
}

.slideBox .active {
    filter: blur(0px);
}

.slideItem0 {
    background-image: url('../../public/img/meta1.png');
    background-position: center;
}

.slideItem0 div {
    padding-left: 10%;
    padding-top: 20%;
}

.slideItem1 {
    background-image: url('../../public/img/meta2.png');
    background-position: center;
}

.slideItem1 div {
    padding-left: 10%;
    padding-top: 40%;
}

.slideItem2 {
    background-image: url('../../public/img/meta3.png');
    background-position: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.slideItem2 div {
    text-align: right;
    padding-right: 10%;
    padding-top: 20%;
}

.slideItem3 {
    background-image: url('../../public/img/meta4.png');
    background-position: center;
}

.slideItem3 div {
    text-align: right;
    padding-right: 10%;
    padding-top: 30%;
}

.slideItem div p {
    display: none;
}

.slideBox .active div p {
    display: block;
}

.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.5s both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.5s both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.AccordionTitle h3 {
    font-size: 3rem;
}

.AccordionSub {
    font-size: rem;
}