@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('../../public/font/Pretendard-Black.ttf');
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../../public/font/Pretendard-Bold.ttf');
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../../public/font/Pretendard-Regular.ttf');
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('../../public/font/Pretendard-Light.ttf');
}

@font-face {
    font-family: 'Pretendard-Thin';
    src: url('../../public/font/Pretendard-Thin.ttf');
}

@font-face {
    font-family: 'RubikBubbles';
    src: url('../../public/font/RubikBubbles-Regular.ttf');
}

@font-face {
    font-family: 'DNFBitBitv2';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
}

.bitbit {
    font-family: 'DNFBitBitv2';
    font-style: normal;
    font-weight: 400;
}

.RubikBubbles {
    font-family: 'RubikBubbles' !important;
}

.pretendard-EB {
    font-family: 'Pretendard-ExtraBold';
}

.pretendard-B {
    font-family: 'Pretendard-Bold';
}

.pretendard-R {
    font-family: 'Pretendard-Regular';
}

.pretendard-L {
    font-family: 'Pretendard-Light';
}

.pretendard-T {
    font-family: 'Pretendard-Thin';
}