.pagination {
    position: absolute;
    bottom: 0;
}


/* help1 */

.Help1-Swiper {
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.Help1-Swiper .swiper-pagination {
    --swiper-theme-color: gray;
}

.Help1-SwiperSlide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.Help1-SwiperSlide p {
    text-align: left;
    margin-left: 20px;
}

.help2name {
    text-align: right !important;
}

.Help1-SwiperSlide img {
    display: inline-block;
    width: 30%;
    height: 100%;
    margin-right: 15px;
}

.Help2 {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}


/* help2 */

.help1bottom {
    font-size: 9px;
}

.Help2-Swiper {
    color: white;
    font-family: 'Pretendard-Bold';
    font-size: 2rem;
    width: 85%;
    height: 100vh;
    padding: 10px;
}

.Help2-SwiperSlide {
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
}

.Help2-SwiperSlide img {
    display: block;
    border-radius: 20px;
    height: 400px;
}

.Help2-SwiperSlide div {
    padding: 15px;
    word-break: keep-all;
}

.PointBlack {
    background-color: white;
    color: black;
}