body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}


/* 사이드메뉴바 */

.full-page-controls {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 40%;
    right: 80px;
    align-items: center;
    z-index: 1;
}

.full-page-controls button {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #0A1F38;
    width: 10px;
    height: 10px;
    font-size: 0px;
    cursor: pointer;
    margin: 5px;
}


/* 사이드 활성화 페이지 */

.full-page-controls button:disabled {
    background-color: #fff;
    border: 1px solid #0A1F38;
    width: 14px;
    height: 14px;
}

.full-page-controls button:nth-child(1) {
    display: none;
}

.full-page-controls button:nth-last-child(1) {
    display: none;
}


/* help3 */

.Help3 {
    background-color: white;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.Help3Title {
    font-size: 5rem;
    line-height: 90px;
}

.help3Btn {
    border: 4px solid black;
    text-align: center;
    border-radius: 15px;
    width: 500px;
}


/* help4 */

.grid1 {
    background-image: url('../../public/img/main5.jpg');
}

.grid2 {
    background-image: url('../../public/img/main8.jpg');
}

.grid3 {
    background-image: url('../../public/img/main7.jpg');
}

.grid4 {
    background-image: url('../../public/img/main6.jpg');
}

.gridItem {
    backdrop-filter: brightness(100%);
}

.gridItem:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    z-index: -1;
}

.gridItem:hover p {
    visibility: visible;
    text-align: center;
}


/* bottom Btn */

.BottomBtn div {
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    color: white;
}


/* 반응형 

@media screen and (max-width: 50rem) {
    .slideBox {
        display: flex;
        height: 10%;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    .slideItem {
        min-height: 8vh;
        min-width: 80%;
        border-radius: 20px;
        margin: 10px;
        cursor: pointer;
        transition: all 0.7s ease-in-out;
        filter: blur(2px);
    }
    .AboutCompany {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .AboutCompany>div {
        width: 80%;
        margin: 0 auto;
    }
    .AboutCompanyContent {
        text-align: start;
        padding: 10px;
        font-size: 20px !important;
    }
    .AboutCompanyContent>div>p {
        font-size: 23px;
    }
    .AboutCompany img {
        height: auto;
    }
}

.fp-watermark {
    display: none;
}*/