/* Main */

.Main {
    height: 100vh;
    display: flex;
    margin: 0;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.group {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.item {
    width: 10vw;
    height: 80vh;
    background-position: center;
    background-size: 75vh;
    margin: 1vw;
    border-radius: 1vw;
    display: inline-block;
    cursor: pointer;
    background-image: url('../../public/img/KakaoTalk_20231019_185341675.jpg');
}