    @media (max-width: 1023px) {}
    
    @media (max-width: 767px) {
        .full-page-controls {
            right: 20px;
        }
        /* Main */
        .Main {
            height: 85vh;
        }
        .slideBox {
            flex-direction: column;
            flex-wrap: nowrap;
            height: 100%;
        }
        .slideItem {
            height: 8%;
            width: 85%;
        }
        .AccordionTitle h3 {
            font-size: 30px;
        }
        .AccordionSub {
            font-size: 15px;
        }
        .Nav {
            width: 80%;
            margin: 0 auto;
            height: 10% !important;
        }
        /* Nav */
        .ul div:last-child {
            display: none;
        }
        /* help3 */
        .Help3Title {
            font-size: 40px;
            line-height: 45px;
            padding: 0;
        }
        .help3SecondSection {
            flex-direction: column-reverse;
            width: 100vw;
        }
        .help3SecondSection div {
            padding: 0;
            width: 70vw;
            white-space: normal;
        }
        .help3SecondSection div p:first-child {
            font-size: 25px;
            line-height: 30px;
        }
        .help3Btn {
            width: 80%;
            font-size: 25px;
        }
        .help3arrowbtn {
            width: 60px;
            height: 60px;
        }
        .Help3Sub {
            margin-top: 10px;
        }
        .Help3>div>div {
            text-align: center;
        }
        /* about */
        .people {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
    
    @media (max-width: 639px) {
        .full-page-controls {
            right: 20px;
        }
        /* Main */
        .Main {
            height: 85vh;
        }
        .slideBox {
            flex-direction: column;
            flex-wrap: nowrap;
            height: 100%;
        }
        .slideItem {
            height: 8%;
            width: 85%;
        }
        .AccordionTitle h3 {
            font-size: 30px;
        }
        .AccordionSub {
            font-size: 15px;
        }
        /* help4 */
        .help4Box {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            font-size: 20px;
        }
        /* Nav */
        .Nav {
            width: 80%;
            margin: 0 auto;
            height: 7% !important;
        }
        .ul div:first-child {
            display: none;
        }
        /* help3 */
        .Help3Title {
            font-size: 30px;
            line-height: 35px;
            padding: 0;
        }
        .help3SecondSection {
            flex-direction: column-reverse;
            width: 100vw;
        }
        .help3SecondSection div {
            padding: 0;
            width: 70vw;
            white-space: normal;
        }
        .help3SecondSection div p:first-child {
            font-size: 25px;
            line-height: 30px;
        }
        .help3Btn {
            width: 100%;
            font-size: 23px;
        }
        .help3arrowbtn {
            width: 50px;
            height: 50px;
        }
        .Help3Sub {
            margin-top: 10px;
        }
        .Help3>div>div {
            text-align: center;
        }
        /* about */
        .About {
            padding: 0 20px;
        }
        .AboutTitle {
            font-size: 50px
        }
        .AboutSmallTitle {
            display: none;
        }
        .AboutSub {
            font-size: 1rem;
            line-height: 1rem;
        }
        .people {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        .About>div>div>button {
            margin-bottom: -100px;
        }
    }