@media (max-width: 639px) {
    .PiuCampaignHori {
        display: none;
    }
    .full-page-controls {
        right: 20px;
        display: none;
    }
    /* Main */
    .Main {
        height: 85vh;
    }
    .slideBox {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
    }
    .slideItem {
        height: 8%;
        width: 85%;
    }
    .AccordionTitle h3 {
        font-size: 25px;
    }
    .AccordionSub {
        font-size: 15px;
        word-break: keep-all;
    }
    /* help4 */
    .help4Box {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        font-size: 20px;
    }
    /* Nav */
    .Nav {
        width: 80%;
        margin: 0 auto;
        height: 70px !important;
    }
    .ul div:first-child {
        display: none;
    }
    /* help3 */
    .Help3Title {
        font-size: 30px;
        line-height: 35px;
        padding: 0;
    }
    .help3SecondSection {
        flex-direction: column-reverse;
        width: 100vw;
    }
    .help3SecondSection div {
        padding: 0;
        width: 70vw;
        white-space: normal;
    }
    .help3SecondSection div p:first-child {
        font-size: 23px;
        line-height: 25px;
    }
    .help3Btn {
        width: 100%;
        font-size: 23px;
    }
    .help3arrowbtn {
        width: 50px;
        height: 50px;
    }
    .Help3Sub {
        margin-top: 10px;
    }
    .Help3>div>div {
        text-align: center;
    }
    .bigBtn>button>p {
        font-size: 20px;
        line-height: 22px;
    }
    .bigBtn button {
        padding: 1rem;
    }
    .help3SecondSection_P {
        margin-bottom: 1.5rem;
    }
    /* about */
    .About {
        padding: 0 20px;
    }
    .AboutTitle {
        flex-direction: column;
    }
    .AboutTitle img {
        margin: 5px auto;
        width: 8rem;
    }
    .AboutSmallTitle {
        display: none;
    }
    .AboutSub {
        font-size: 1rem;
        line-height: 1rem;
    }
    .people {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .About>div>div>button {
        margin-bottom: -100px;
    }
    /* Help2 */
    .Help2-SwiperSlide>div {
        flex-direction: column;
        height: 100vh;
    }
    .Help2-SwiperSlide>div>img {
        width: 95% !important;
        height: 30vh;
        padding: 10px 0;
    }
    .Help2-SwiperSlide>div>div {
        width: 95% !important;
        font-size: 20px;
        padding: 10px 0;
    }
    .help2-title {
        margin-bottom: 10px;
    }
    .Help1First {
        margin-bottom: 10px;
    }
    .Help1-SwiperSlide img {
        width: 50% !important;
        margin-bottom: 10px;
    }
    .break-keep {
        text-align: center !important;
        font-size: 1rem;
    }
    .Help2Last {
        padding: 10px;
    }
    .swiper-pagination {
        margin-top: 30px;
    }
    .Help1-SwiperSlide {
        height: 350px !important;
    }
    .Help2Last p {
        width: 100%;
        line-height: 1.2rem;
        text-align: center;
    }
    .help2name {
        font-size: 0.8rem;
    }
    /* help1 */
    .Help1-SwiperSlide {
        flex-direction: column;
    }
    .Help1-SwiperSlide img,
    .Help1-SwiperSlide div {
        width: 80vw;
    }
    .Help1First {
        font-size: 1.5rem;
        text-align: center;
    }
    .Help1-Swiper {
        width: 90%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .Help1Last p {
        width: 100%;
        font-size: 1rem;
        line-height: 1rem;
        text-align: center;
    }
    .quoteicon {
        display: none;
    }
    /* 후원기업 */
    .SponsoringCompanyBox {
        height: 6rem;
    }
    .SponsoringCompany0 {
        height: 80px;
    }
    .SponsoringCompany0>div>div {
        height: 80px;
        display: flex;
        align-items: center;
    }
    .SponsoringCompany0>div>div>div>div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
    }
    .SponsoringCompany0>div>div>div>div>div {
        text-align: center;
        margin: 0 auto;
        width: auto !important;
    }
    .SponsoringCompany0>div>div>div>div>div>img {
        height: 20px;
        text-align: center;
    }
    .smallsponsor {
        height: 50px !important;
    }
    /* 주문하기 */
    .Ordertitle_Order {
        margin: 15px auto;
    }
    .OrderFormBox form {
        padding: 5px;
        width: 100%;
    }
    .OrderFormBox form div {
        padding: 5px;
    }
    .OrderFormBox form div p {
        text-align: center;
    }
    /* productInfo */
    .productBox {
        flex-direction: column;
    }
    .productBox img {
        margin: 0 auto;
    }
    .productBox div {
        margin: 0;
    }
    .zipcodeBox {
        flex-direction: column;
        align-items: end;
    }
    .addressbtn {
        width: 50% !important;
    }
    .AgreeBox {
        flex-direction: column;
        text-align: left;
    }
    /* 주문완료 페이지 */
    .OrderSuccessTitle,
    .OrderDetailTitle {
        font-size: 1.5rem;
        margin: 15px auto;
    }
    .OrderSuccessSub {
        flex-direction: column;
        padding: 0 20px;
    }
    .OrderInfoBox {
        margin: 0 auto;
        width: 85%;
    }
    .OrderSuccessbox,
    .OrderDetailbox {
        width: 100%;
        margin: 20px auto;
    }
    .OrderSuccessbox div {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .OrderSuccessInfo div,
    .OrderDetailInfo div {
        width: 100%;
    }
    .orderSuccess_number {
        margin: 10px auto;
    }
    .Atextright {
        text-align: right;
    }
    /* 비회원 로그인 */
    .NonmemberLoginTitle {
        font-size: 2rem;
        margin: 10px auto;
    }
    .NonmemberLoginSub {
        font-size: 1rem;
        margin: 10px auto;
        padding: 0 25px;
        text-align: center;
    }
    .NonmemberLoginFormBox {
        width: 95%;
        margin: 10px auto;
        font-size: 18px;
    }
    .NonmemberLoginForm button {
        padding: 0.3rem;
        width: 80%;
    }
    .Help1-SwiperSlide p {
        text-align: center;
    }
    .Help1-Swiper .swiper-pagination {
        --swiper-theme-color: gray;
        display: none;
    }
    .Help3subTitle {
        font-size: 1.5rem;
    }
}