    @media (max-width: 1023px) {}
    
    @media (max-width: 767px) {
        .full-page-controls {
            right: 20px;
        }
        /* Main */
        .Main {
            height: 85vh;
        }
        .slideBox {
            flex-direction: column;
            flex-wrap: nowrap;
            height: 100%;
        }
        .slideItem {
            height: 8%;
            width: 85%;
        }
        .AccordionTitle h3 {
            font-size: 30px;
        }
        .AccordionSub {
            font-size: 15px;
        }
        .Nav {
            width: 80%;
            margin: 0 auto;
            height: 10% !important;
        }
        /* Nav */
        .ul div:last-child {
            display: none;
        }
    }
    
    @media (max-width: 639px) {
        .full-page-controls {
            right: 20px;
        }
        /* Main */
        .Main {
            height: 85vh;
        }
        .slideBox {
            flex-direction: column;
            flex-wrap: nowrap;
            height: 100%;
        }
        .slideItem {
            height: 8%;
            width: 85%;
        }
        .AccordionTitle h3 {
            font-size: 30px;
        }
        .AccordionSub {
            font-size: 15px;
        }
        /* help4 */
        .help4Box {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            font-size: 20px;
        }
        /* Nav */
        .Nav {
            width: 80%;
            margin: 0 auto;
            height: 7% !important;
        }
        .ul div:first-child {
            display: none;
        }
    }