.Nav {
    height: 10%;
    color: black;
}

.RunningPIU {
    background-image: linear-gradient(252deg, #f6136e, #b620e0 49%, #8533ff);
    padding: 10px 20px;
    color: white;
    border-radius: 8px 20px;
    font-weight: bold;
}