.message {
    color: gray;
    font-size: 12px;
    margin-top: 2px;
}

.Buybtn {
    background-color: rgb(214, 214, 214);
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin: 30px auto;
}

.addressbtn {
    background-color: rgb(214, 214, 214);
    padding: 3px 10px;
    width: 30%;
    border-radius: 10px;
}