/*Purchase1*/

.Aboutgift {
    font-size: 3.5rem;
    line-height: 1.1;
}

.Aboutgiftcontent {
    font-size: 1.2rem;
}


@media screen and (max-width:50rem) {
    .Aboutgift {
        font-size: 1.8rem;
        text-align: center;
        padding-bottom: 20px !important;
    }
    .Aboutgiftcontent {
        font-size: 0.85rem;
        text-align: center;
    }
    .giftcon{
        margin-right:0px;
    }
    .gift {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .giftimg1 {
        margin-top:20px;
        width: 60%;
        margin-left: 0px;
    }
    .button1 button {
        padding: 0.8rem;
        font-size: 0.9rem;
        margin-top: 20px;
    }
}

.button1 {
    margin-top: 20px;
}

/*Purchase2*/

.carousel {
    z-index: 0;
    position: relative;
    width: 60rem;
    height: 30rem;
    margin: 0 auto;
    min-height: 80vh;
    column-gap: 3rem;
    /*padding-block: min(20vh, 3rem);*/
}

.Purchase-swiper {
    width: 100%;
    padding-top: 3.125rem;
    padding: 60px 0 !important;
}

.Purchase-swiper-slider {
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.Purchase-swiper-slider div {
    display: none;
}

.Purchase-swiper-slide-active div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 1;
    height: 100%;
}

.Purchase-swiper-slide img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.Purchase-swiper-pagination {
    text-align: center;
}

.Purchase-swiper-pagination span {
    padding: 30px 30px;
    border-radius: 0 !important;
    margin: 0 5px;
    background-size: cover !important;
}

.Purchase-swiper-pagination span:nth-child(1) {
    background-image: url('../../public/img/gripTok/tok1.png') !important;
}

.Purchase-swiper-pagination span:nth-child(2) {
    background-image: url('../../public/img/gripTok/tok2.png') !important;
}

.Purchase-swiper-pagination span:nth-child(3) {
    background-image: url('../../public/img/gripTok/tok3.png') !important;
}

.Purchase-swiper-pagination span:nth-child(4) {
    background-image: url('../../public/img/gripTok/tok4.png') !important;
}

.Purchase-swiper-pagination span:nth-child(5) {
    background-image: url('../../public/img/gripTok/tok5.png') !important;
}

.Purchase-swiper-pagination-bullet-active {
    border: 2px solid #00000073;
}

.swiper-button-next {
    color: black !important;
    background-color: #ffffffa4 !important;
    border-radius: 40px !important;
    width: 60px !important;
    height: 60px !important;
    padding-left: 10px;
}

.swiper-button-prev {
    color: black !important;
    background-color: #ffffffa4 !important;
    border-radius: 40px !important;
    width: 60px !important;
    height: 60px !important;
    padding-right: 10px;
}

.wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
}

.target {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
}

@media screen and (max-width:50rem) {
    .carousel {
        width: calc(min(100rem, 100%)) !important;
        padding-block: min(15vh, 100rem) !important;
        margin-top: -50px;
        margin-bottom: -60px;
    }
    .myswiper {
        overflow: hidden !important;
    }
    .myswiper-pagination-bullet {
        padding: 20px 20px;
    }
    .giftimg {
        width: 60%;
        margin-left: 0px;
    }
}